body{
    background-color: beige;
    background-image: url('https://i.pinimg.com/550x/cb/33/49/cb3349b86ca661ca61ae9a36d88d70d4.jpg');
    background-repeat: no-repeat;
    background-position: left top;
}